@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

.content-hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.content-visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menu-container {
  transform: translateY(-100%);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}
.peer-checked ~ .menu-container {
  transform: translateY(0);
  opacity: 1;
}
