@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'tropical';
  font-style: regular;
  font-weight: 400;
  src: url('/fonts/Tropical.ttf');
}
@font-face {
  font-family: 'virnature';
  font-style: regular;
  font-weight: 400;
  src: url('/fonts/Virnature-Regular.ttf');
}

@font-face {
  font-family: 'brisbane';
  font-style: regular;
  font-weight: 400;
  src: url('/fonts/Brisbane-Regular.ttf');
}

.content {
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

.content-hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.content-visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menu-container {
  transform: translateY(-100%);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}
.peer-checked ~ .menu-container {
  transform: translateY(0);
  opacity: 1;
}

.swiper {
  width: 900px;
  height: 300px;
}
input[type='radio'] {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  color: #dbc4ee !important;
}
.swiper-scrollbar {
  background: transparent !important;
}

.swiper-pagination-bullet-active {
  background-color: #dbc4ee !important;
}
